# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# SBT
target/
project/target/
project/project/
project/boot/

# Scala / JVM
*.class
*.log
*.ctxt
*.jar
*.war
*.ear
hs_err_pid*
replay_pid*

# Metals / Bloop
.bloop/
.metals/
.bsp

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.out

# Flyway
flyway.conf

# Generated sources (e.g. ScalaPB later)
**/src_managed/

# Test reports
test-output/

old.*
*.old.*
cpp/build
*.pyc
kaze.cpp
.cache
*~

# Native
src/main/resources/native/
 src/main/resources/native
