Checks:
- "*"
- -altera-struct-pack-align
- -clang-analyzer-optin.performance.Padding
- -fuchsia-*
- -google-build-using-namespace
- -google-readability-avoid-underscore-in-googletest-name
- -llvm-include-order
- -llvmlibc-*
- -misc-use-anonymous-namespace
- -readability-identifier-length
- -portability-avoid-pragma-once
- -clang-diagnostic-pragma-once-outside-header
- bugprone-*
- clang-analyzer-*
- llvm-header-guard
- modernize-*
- performance-*
- portability-*
- readability-*

CheckOptions:
- key: llvm-header-guard.HeaderFileExtensions
  value: 'h;hpp'
- key: readability-identifier-length.MinimumVariableNameLength
  value: 1
- key: readability-identifier-length.MinimumParameterNameLength
  value: 1
- key: llvm-header-guard.HeaderCheckIncludePaths
  value: 'include'
