AccessModifierOffset: -2
AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Left
AlignEscapedNewlines: LeftWithLastLine
AlignOperands: AlignAfterOperator
AllowAllParametersOfDeclarationOnNextLine: true
BasedOnStyle: Google
BinPackParameters: false
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: true
BreakBinaryOperations: OnePerLine
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
ColumnLimit: 80
ContinuationIndentWidth: 2
IncludeBlocks: Regroup 
IndentAccessModifiers: false
IndentWidth: 4
MaxEmptyLinesToKeep: 1
NamespaceIndentation: Inner
SortIncludes: true
SpacesInAngles: Never
UseTab: Never
